/* Reset */
html {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  background-color: var(--Almost-White);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

li {
  padding: 0.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Utilidades */

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  height: 10vh;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  cursor: pointer;
}

.button-login-register {
  background-color: var(--Almost-White);
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  padding: 0.5rem;
  margin: auto;
  cursor: pointer;
}

.buttons-menu {
  background-color: var(--Almost-White);
  border: none;
  width: 1.5rem;
  height: 1rem;
  transition: all 0.5s ease-in-out;
}

.buttons-menu-close {
  background-image: url(../images/icon-close-menu.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  align-self: end;
  cursor: pointer;
}

.buttons-menu-open {
  background-image: url(../images/icon-menu.svg);
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.menu-close {
  position: absolute;
  top: 0;
  right: -66vw;
  background-color: var(--Almost-White);
  width: 63vw;
  height: 100vh;
  transition: all 0.5s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.menu-details {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;
}

.menu-details-icon-down {
  background: url(../images/icon-arrow-down.svg) no-repeat center;
  width: 0.5rem;
  padding: 0.5rem;
}

.menu-details-icon-up {
  background: url(../images/icon-arrow-up.svg) no-repeat center;
}

.menu-company {
  padding-left: 1rem;
}

.menu-features {
  padding-left: 1rem;
}

.menu-list {
  padding-top: 1rem;
  color: var(--Medium-Gray);
}

.menu-open {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--Almost-White);
  width: 63vw;
  height: 100vh;
  transition: all 0.5s;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.menu-open-background {
  position: absolute;
  top: 0;
  right: 63vw;
  width: 37vw;
  height: 100vh;
  transition: all 0.5s;
  background-color: hsl(0deg 0% 5% / 80%);
}

/* .user-buttons {
  position: absolute;
} */

/* Main */

.img-hero {
  height: 40vh;
  display: flex;
  justify-content: center;
}

.main {
  height: 80vh;
}

.main-button {
  font-weight: 700;
  font-size: 18px;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 15px;
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
  cursor: pointer;
}

.main-text {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-text h1 {
  font-weight: 700;
}

.main-text p {
  font-weight: 500;
  font-size: 17px;
  color: var(--Medium-Gray);
  text-align: center;
  line-height: 1.5rem;
}

/* Footer */

.footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  max-width: 15%;
}

/* Desktop */

@media only screen and (min-width: 768px) {
  .buttons-menu {
    display: none;
  }

  .header {
  }

  .menu-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .nav-desktop {
    position: static;
    height: auto;
    width: 100%;
    padding: 0rem 1rem;
    flex-direction: row;
  }
}
